.ztr-directory
*.out*
*.o
*.dSYM
*.vscode*
preparation-phase/c-lang/ls-clone/test
preparation-phase/golang/code/src/gopl.io
preparation-phase/golang/code/bin
preparation-phase/golang/code/pkg
bin
pkg
preparation-phase/golang/code/src/gopl-exercises/ex-4-12/xkcd/raw_data
preparation-phase/golang/code/src/gopl-exercises/ex-4-12/xkcd/comic_index.json
preparation-phase/unix-shell/test-data/
preparation-phase/algos
computer-systems/assembly/class1/tests
computer-systems/assembly/class2/tests
computer-systems/optimization/vec/tests
advanced-programming/golang
advanced-programming/cgo/leveldb
networking/pcap-the-flag/data
networking/vids
